logging.level.root=INFO
spring.jpa.hibernate.ddl-auto=update
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL94Dialect
spring.datasource.url=jdbc:postgresql://localhost:5432/unserewgbot
spring.datasource.username=postgres
spring.datasource.password=postgres

telegramBot.botToken=TOKEN
telegramBot.botUsername=unser_wg_bot
telegramBot.creatorId=CREATOR_ID
telegrambot.allowedGroupIds=YOUR_GROUP_ID

fritztr064.address=fritz.box
fritztr064.user=fritz-pi
fritztr064.password=PASSWORD