logging.level.root=INFO
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.DerbyDialect
spring.datasource.driver-class-name=org.apache.derby.jdbc.EmbeddedDriver
spring.datasource.url=jdbc:derby:unsere-wg-bot.derby;create=true

fritztr064.address=fritz.box
fritztr064.user=fritz-pi
fritztr064.password=PASSWORD